@media (max-width: 1199px) {

    .container {
        width: 900px;
    }

    .header {
        height: 591px;
    }

    .header-content {
        width: 900px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .header-top {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .header-nav-button {
        display: block;
        background: transparent;
        border: none;
        padding: 0;
    }

    .header-nav-list {
        display: none;
    }

    .header-title {
        font-size: 52px;
    }

    .header-scroll { 
        font-size: 0;
    }

    /* Main */
    .main {
        padding: 80px 0;
    }

    .main-row {
        margin-bottom: 80px;
    }

    .main-header {
        font-size: 50px;
        line-height: 1;
    }

    .main-content {
        width: 420px;
    }

    .main-img {
        width: 420px;
    }

    .main-content-text {
        margin-bottom: 20px;
        font-size: 18px;
    }

    /* Footer */
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-widget-services {
        display: none;
    }

    .footer .logo {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .footer-copyright p {
        font-size: 14px;
    }

    .footer-widget-title {
        margin-bottom: 20px;    
    }

    .footer-widget-wrapper {
        column-gap: 54px; // Pixil perfect
    }

    .footer-copyright {
        width: 195px;
    }

}